// font-family

@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

$fontFamilyHeader: "DynaPuff", system-ui;
$fontFamilyMain: "Martian Mono", monospace;
$fontFamilyMain2: "Oxygen", sans-serif;
$fontOpticalSizing: auto;
$fontWeight: 600;
$fontStyle: normal;
$fontVariationSettings: "wdth" 100;

// font-color

$headerColorBlack: #120D0F;
$headerColorDarkPink: #523334;
$mainTextColorDarkPink: #6F5B5E;
$linkColorLightGray: #79767C;

// background-color

$semanticBlocksColorWhite: #ffffff;
$landingSectionColorGray: #f2f2f2;
$landingSectionColorPinkBright: #f7d3cf;
$landingSectionColorPinkWarm: #FFDBD7;
$landingSectionColorPinkCold: #FEDBE0;