.header, .footer {
  background-color: rgb(236, 227, 184);
  height: 100px;
  font-size: 1.8em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-logo {
    max-height: 80px;
}

.header-search, .footer-icon {
  max-height: 40px;
}

.header-link {
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  letter-spacing: 1px;
  margin: 0 20px;
  font-size: 24px;
}
