@media (max-width: 1440px) {
    .page {
        &-container {
            margin: 0 auto;
            width: 1120px;

            &-content {
                margin: 0 auto;
                width: 1060px;
            }
        }
    }
}

@media (max-width: 1200px) {
    .page {
        &-container {
            max-width: 960px;

            &-content {
                max-width: 900px;
            }
        }
    }

    .lipstick {
        &__text {
            &-wrapper {
                min-height: 300px;
                width: 500px;
            }
        }
    }

    .powder {
        &__wrapper {
            grid-template-columns: 1fr 1.4fr;

        }
    }

    .pink {
        &__wrapper {
            grid-template-columns: 1fr 1.3fr;
        }
    }

    .girl {
        &__wrapper {
            grid-template-columns: 1.3fr 0.8fr 1.3fr;
        }
    }

    .about-page {
        &__wrapper {
            grid-template-columns: 0.7fr 1fr;
            gap: 30px;
        }
    }

    .contact-page {
        .form {
            &__wrapper {
                grid-template-columns: 1fr 0.8fr;
                gap: 10px;
            }
        }
    }
}

@media (max-width: 992px) {
    .page {
        &-container {
            max-width: 720px;

            &-content {
                max-width: 680px;
            }
        }
    }

    .lipstick {
        &__text {
            height: unset;
            justify-content: unset;

            &-wrapper {
                width: 680px;
                place-content: space-around;
            }
        }
    }

    .powder {
        height: 710px;

        &__wrapper {
            grid-template-columns: 1fr;
            grid-template-rows: 190px 430px 60px;
            row-gap: 10px;
        }

        &__text {
            >h2 {
                margin-bottom: 10px;
            }
        }
    }

    .pink {
        &__wrapper {
            grid-template-columns: 1fr 1.1fr;
        }
    }

    .girl {

        &__wrapper {
            grid-template-columns: 1.2fr 1fr;
            grid-template-rows: 350px 250px;
        }

        &__photo {
            grid-row: 1 / 3;

            img {
                height: 100%;
            }
        }

        &__lipstick {
            grid-row: 2 / 3;
            align-self: unset;

            img {
                height: 100%;
            }
        }
    }

    .about-page {
        &__wrapper {
            grid-template-columns: 1.4fr 0.6fr;
            gap: 20px;
        }

        &__photo {
            grid-column: 1/2;
        }

        &__card {
            grid-column: 2/4;
        }

        &__text {
            grid-row: 3/4;
            grid-column: 1/4;
        }
    }

    .contact-page {
        .form {
            &__container {
                max-width: 720px;
            }

            &__wrapper {}

            &__title {}
        }
    }
}

@media (max-width: 768px) {
    .page {
        &-container {
            max-width: 540px;

            &-content {
                max-width: 500px;
            }
        }
    }

    .lipstick {
        &__text {
            align-items: center;

            &-wrapper {
                width: 500px;
                place-content: space-around;
            }

            .subtitle {
                font-size: unset;
            }
        }

        &__buttons {
            grid-template-columns: 1fr;
            place-content: center;
        }
    }

    .powder {
        &__wrapper {
            grid-template-rows: 220px 410px 60px;
        }
    }

    .pink {
        &__wrapper {
            grid-template-columns: 1fr;
            grid-template-rows: 0.2fr 0.3fr 0.5fr;
        }

        &__black-block {
            grid-column: unset;
        }

        &__images {
            width: 70%;
        }
    }

    .girl {
        &__wrapper {
            grid-template-columns: 1.5fr 1fr;

        }
    }

    .about-page {
        &__wrapper {
            grid-template-columns: 1fr;
            gap: 10px;
        }

        &__titles {
            grid-row: 1/2;
            grid-column: unset;
        }

        &__photo {
            grid-row: 2/3;
            grid-column: unset;
        }

        &__card {
            grid-row: 3/4;
            grid-column: unset;
        }

        &__text {
            grid-row: 4/5;
            grid-column: unset;
            margin-top: 20px;
        }
    }

    .contact-page {
        .form {
            &__container {
                max-width: 540px;
            }

            &__wrapper {
                grid-template-columns: 1fr;
                grid-template-rows: 0.1fr 0.6fr 450px;
            }

            &__title {
                grid-column: unset;
            }

            &__photo {
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    h2 {
        font-size: 2.1rem;
    }

    .page {
        &-container {
            max-width: 100%;

            &-content {
                max-width: 100%;
                padding: 0 10px;
            }
        }
    }

    .lipstick {
        &__text {
            &-wrapper {
                width: 100%;
            }
        }

        .line-break {
            display: unset;
        }
    }

    .powder {
        height: 540px;

        .page {
            &-container {
                &-content {
                    padding: unset;
                }
            }
        }

        &__wrapper {
            background: linear-gradient(180deg,
                    rgba(255, 255, 255, 0.03) 2.5%,
                    rgba(27, 30, 34, 0.4) 60.42%,
                    #22201b 95.67%), url('../../../public/assets/powder.jpg') center (center/cover) no-repeat;
            padding: 0 10px;
            grid-template-columns: 1fr;
            grid-template-rows: 190px 60px;
            align-content: space-evenly;
            place-items: center;
        }

        &__text {
            &-wrapper {

                >h2,
                >p {
                    color: whitesmoke;
                    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                }
            }
        }

        &__button {
            width: 80%;
            background-color: white;
        }

        &__photo {
            display: none;
        }
    }

    .pink {
        .page-container-content {
            padding: unset;
        }

        &__black-block {
            width: 100%;
        }
    }

    .girl {
        &__wrapper {
            background: linear-gradient(180deg,
                    rgba(255, 255, 255, 0.03) 2.5%,
                    rgba(27, 30, 34, 0.4) 60.42%,
                    #22201b 95.67%), url('../../../public/assets/girl.jpg') center (center/cover) no-repeat;
            padding: 0 10px;
            grid-template-columns: 1fr;
            grid-template-rows: 600px;
            place-items: end;
        }

        &__text {
            &-wrapper {
                margin-bottom: 25px;

                >h2,
                >p {
                    color: whitesmoke;
                    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                }
            }
        }

        &__photo {
            display: none;
        }

        &__lipstick {
            display: none;
        }

    }

    .about-page {
        &__wrapper {
            grid-template-columns: fit-content(95%);
            grid-auto-rows: auto;
        }
    }

    .product {
        &-brands {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2px;
            place-items: center;
        }
    }

    .contact-page {
        .form {
            &__container {
                max-width: 90%;
            }

            &__wrapper {
                grid-template-columns: 1fr;
                grid-auto-rows: auto;
            }
        }
    }
}

@media (max-width: 393px) {
    .product {
        &-brands {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}