@media (max-width: 1440px) {
    .page {
        &-container {
            margin: 0 auto;
            width: 1120px;

            &-content {
                margin: 0 auto;
                width: 1060px;
            }
        }
    }
}

@media (max-width: 1200px) {
    .page {
        &-container {
            max-width: 960px;

            &-content {
                max-width: 900px;
            }
        }
    }

    .about-page {
        &__wrapper {
            grid-template-columns: 0.7fr 1fr;
            gap: 30px;
        }
    }

    .contact-page {
        .form {
            &__wrapper {
                grid-template-columns: 1fr 0.8fr;
                gap: 10px;
            }
        }
    }

    .section1__text-container {
        flex-basis: 50%;
    }
}

@media (max-width: 992px) {
    .page {
        &-container {
            max-width: 720px;

            &-content {
                max-width: 680px;
            }
        }
    }

    .about-page {
        &__wrapper {
            grid-template-columns: 1.4fr 0.6fr;
            gap: 20px;
        }

        &__photo {
            grid-column: 1/2;
        }

        &__card {
            grid-column: 2/4;
        }

        &__text {
            grid-row: 3/4;
            grid-column: 1/4;
        }
    }

    .contact-page {
        .form {
            &__container {
                max-width: 720px;
            }

            &__wrapper {}

            &__title {}
        }
    }

    .section1__text-container {
        flex-basis: 60%;
    }
}

@media (max-width: 768px) {
    .section1__text-container {
        flex-basis: 80%;
    }

    .page {
        &-container {
            max-width: 540px;

            &-content {
                max-width: 500px;
            }
        }
    }

    .about-page {
        &__wrapper {
            grid-template-columns: 1fr;
            gap: 10px;
        }

        &__titles {
            grid-row: 1/2;
            grid-column: unset;
        }

        &__photo {
            grid-row: 2/3;
            grid-column: unset;
        }

        &__card {
            grid-row: 3/4;
            grid-column: unset;
        }

        &__text {
            grid-row: 4/5;
            grid-column: unset;
            margin-top: 20px;
        }
    }

    .contact-page {
        .form {
            &__container {
                max-width: 540px;
            }

            &__wrapper {
                grid-template-columns: 1fr;
                grid-template-rows: 0.1fr 0.6fr 450px;
            }

            &__title {
                grid-column: unset;
            }

            &__photo {
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .landing-page {
        h2 {
            font-size: 1.5rem;

            .line-break {
                display: block;
                margin: 0 auto;
            }
        }
    }
}

@media (max-width: 576px) {
    .page {
        &-container {
            max-width: 100%;

            &-content {
                max-width: 100%;
                padding: 0 10px;
            }
        }
    }

    .about-page {
        &__wrapper {
            grid-template-columns: fit-content(95%);
            grid-auto-rows: auto;
        }
    }

    .product {
        &-brands {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2px;
            place-items: center;
        }
    }

    .contact-page {
        .form {
            &__container {
                max-width: 90%;
            }

            &__wrapper {
                grid-template-columns: 1fr;
                grid-auto-rows: auto;
            }
        }
    }
}

@media (max-width: 393px) {
    .product {
        &-brands {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}