@use '../base/variables';
@use '../base/mixines';

/// to check EXTEND for flexes!!!!

.page {
    &-container {
        margin: 0 auto;
        width: 1200px;

        &-content {
            margin: 0 auto;
            width: 1120px;
        }
    }
}

// landing-page

.landing-page {
    &__separator {
        background-color: variables.$landingSectionColorPinkCold;
        min-height: 70px;
    }
}

.lipstick {
    background: url('../../../public/assets/landing.jpg') center (center/cover) no-repeat;
    min-height: 600px;
    display: flex;
    align-items: center;

    &__text {
        display: flex;
        flex-direction: column;
        height: 140px;
        justify-content: space-between;

        >h2,
        h4 {
            text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
        }

        &-wrapper {
            min-height: 325px;
            width: 600px;
            display: grid;
            align-items: center;
        }

        .subtitle {
            font-size: 1.07rem;
        }
    }

    &__buttons {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 1rem;
    }

    &__button {
        background-color: white;
        padding: 20px;
        text-align: center;
    }
}

.powder {
    background-color: variables.$landingSectionColorPinkWarm;
    height: 540px;

    // .page {
    //     &-container {
    //         &-content {
    //             margin: unset;
    //         }
    //     }
    // }

    &__wrapper {
        height: 480px;
        display: grid;
        grid-template-columns: 1fr 1.3fr;
        grid-template-rows: 400px 60px;
        column-gap: 20px;
    }

    &__text {
        &-wrapper {
            align-content: center;

            >h2 {
                margin-bottom: 30px;
            }
        }
    }

    &__button {
        width: 170px;
        background-color: black;
        padding: 20px;
        text-align: center;
    }

    &__photo {
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}

.pink {
    background-color: variables.$landingSectionColorPinkBright;
    height: 540px;
    margin-bottom: 50px;

    &__wrapper {
        height: 500px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.2fr 0.8fr;
    }

    &__black-block {
        grid-column: 1 / 3;
        height: 80px;
        background-color: black;
    }

    &__images {
        place-self: center;
        width: 70%;

        img {
            object-fit: cover;
        }
    }

    &__text {
        &-wrapper {
            justify-self: center;
            place-self: center;
        }
    }

    // &__rouge {
    //     width: 100%;

    //     img {
    //         object-fit: cover;
    //     }
    // }

    // &__lipstick {
    //     width: 100%;

    //     img {
    //         object-fit: cover;
    //     }

    // }
}

.girl {
    background-color: variables.$landingSectionColorGray;

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 0.8fr 1.3fr;
        gap: 20px;
    }

    &__text {
        &-wrapper {
            @extend .powder__text-wrapper;
        }
    }

    &__photo {
        width: 100%;

        img {
            object-fit: cover;
        }
    }

    &__lipstick {
        width: 100%;
        align-self: end;

        img {
            object-fit: cover;
        }

    }
}

//about-page

.about-page {
    padding-top: 20px;

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.1fr 0.4fr 0.5fr;
        gap: 40px;
    }

    &__description {}

    &__text {
        text-align: justify;
        grid-row: 2/4;

        >span {
            display: block;
            margin: 10px 0;
        }

        >h4 {
            margin: 0 0 20px 0;
        }
    }

    &__titles {
        grid-column: 1/3;
    }

    &__photo {
        width: 100%;

        img {
            object-fit: cover;
        }
    }

    &__statistics {
        &-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
            // grid-template: repeat(3, minmax(115px, auto)/repeat(1, 250px));
            gap: 1rem;
            place-items: center;
        }
    }

    &__card {
        @extend .about-page__titles;
        grid-column-start: 2;

        >h4 {
            text-align: center;
        }
    }
}

// classifiers-page

.classifiers {
    &-page {
        @extend .about-page;
    }
}

.product {
    &-types {
        display: grid;
        grid-template-columns: repeat(auto-fill, 230px);
        justify-content: center;
        gap: 0.5rem;

        &__photo {
            height: 120px;

            img {
                object-fit: cover;
                height: 100%;
            }

            &:hover {
                transform: scale(1.2);
            }
        }
    }

    &-brands {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;

        &__button {
            margin: 5px;
        }
    }
}

// products-page

.products-page {
    @extend .about-page;

    &__filter {
        margin-bottom: 30px;
    }
}

.products-list {
    &__container {
        @extend .product-types;
    }

    &__photo {
        @extend .product-types__photo;

        &_enlarged {
            height: 250px;

            img {
                object-fit: cover;
                max-height: 100%;
            }
        }
    }

    &__colors {
        display: flex;
        flex-wrap: wrap;

        &-wrapper {
            flex-basis: 50%;
        }
    }
}

// contact-page

.contact-page {
    @extend .about-page;

    .form {
        &__container {
            width: 800px;
            margin: 0 auto;
        }

        &__title {
            grid-column: 1/3;
        }

        &__wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 0.1fr 0.9fr;
            gap: 20px;
        }

        &__input {
            margin: 2px 0px;
        }

        &__button {
            margin-top: 20px;
        }

        &__photo {
            width: 100%;

            img {
                object-fit: cover;
            }
        }
    }
}